<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Message Board</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Anonymous Message Board</h1>
    <hr>
    <div>
        <code>
            GET [..]/api/threads/:board <br><br>
            POST [..]/api/threads/:board <br><br>
            PUT [..]/api/threads/:board <br><br>
            DELETE [..]/api/threads/:board <br><br>
            GET [..]/api/replies/:board <br><br>
            POST [..]/api/replies/:board <br><br>
            PUT [..]/api/replies/:board <br><br>
            DELETE [..]/api/replies/:board <br><br>
        </code>
    </div>
    <hr>
</body>

</html>